export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_STATE_HOME="$HOME/.local/state"
export XDG_CACHE_HOME="$HOME/.cache"

export GNUPGHOME="$XDG_DATA_HOME/gnupg"
export TERMINFO_DIRS="$XDG_DATA_HOME/terminfo:/usr/share/terminfo"
export SQLITE_HISTORY=$XDG_DATA_HOME/sqlite_history
export EDITOR='micro'
export CARGO_HOME="$HOME/.local/share/cargo"
export RUSTUP_HOME="$HOME/.local/share/rustup"
export PIPX_HOME="$HOME/.local/share/pipx"
export JABBA_HOME="$HOME/.local/share/jabba"
export _JAVA_OPTIONS=-Djava.util.prefs.userRoot="$XDG_CONFIG_HOME"/java

export PATH="$CARGO_HOME/bin:$PATH"
export PATH="$HOME/.local/bin:$PATH"
export PATH="$JABBA_HOME/bin:$PATH"

{{- if .dev }}
export JULIA_DEPOT_PATH="$HOME/.local/share/julia"
export GOPATH="$HOME/.local/share/golang"
export FNM_DIR="$HOME/.local/share/fnm"

export PYENV_ROOT="$HOME/.local/share/pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
export PATH="$PYENV_ROOT/shims:$PATH"
{{- end }}
