{{- $email := get . "email" -}}
{{- if not $email -}}
{{-   $email = promptString "email" -}}
{{- end -}}

{{- $git_handle := get . "git_handle" -}}
{{- if not $git_handle -}}
{{-   $git_handle = promptString "git handle" -}}
{{- end -}}

{{- $ssh_key := get . "ssh_key" -}}
{{- if not $ssh_key -}}
{{-   $ssh_key = promptString "ssh key" -}}
{{- end -}}

[data]
	email = {{ $email | quote }}
	git_handle = {{ $git_handle | quote }}
	ssh_key = {{ $ssh_key | quote }}

