{{- $email := get . "email" -}}
{{- if not $email -}}
{{-   $email = promptString "email" -}}
{{- end -}}

{{- $git_handle := get . "git_handle" -}}
{{- if not $git_handle -}}
{{-   $git_handle = promptString "git handle" -}}
{{- end -}}

{{- $gui := get . "gui" -}}
{{- if not $gui -}}
{{-   $gui = promptBool "install gui (y/n)" -}}
{{- end -}}

{{- $dev := get . "dev" -}}
{{- if not $dev -}}
{{-   $dev = promptBool "install dev (y/n)" -}}
{{- end -}}

{{- $writing := false -}}
{{- $media := false -}}
{{- $gaming := false -}}

{{- if $gui -}}
{{- 	$writing := get . "writing" -}}
{{- 	if not $writing -}}
{{-   		$writing = promptBool "install writing (y/n)" -}}
{{- 	end -}}
{{- 	$media := get . "media" -}}
{{- 	if not $media -}}
{{-   		$media = promptBool "install media (y/n)" -}}
{{- 	end -}}
{{- 	$gaming := get . "gaming" -}}
{{- 	if not $gaming -}}
{{-   		$gaming = promptBool "install gaming (y/n)" -}}
{{- 	end -}}
{{- end -}}

[data]
	email = {{ $email | quote }}
	git_handle = {{ $git_handle | quote }}
	gui = {{ $gui }}
	dev = {{ $dev }}
	writing = {{ $writing }}
	media = {{ $media  }}
	gaming = {{ $gaming  }}
