#!/bin/bash


function run_script() {
	sh -c "$(curl -sSL https://zshoham.github.io/static/linux-setup/$1)"
	source $HOME/.profile
}

run_script "headless.sh"

{{- if .gui }}
	run_script "gui.sh"
{{- end }}
{{- if .writing }}
	run_script "writing.sh"
{{- end }}
{{- if .media }}
	run_script "media.sh"
{{- end }}
{{- if .gaming }}
	run_script "gaming.sh"
{{- end }}

echo "rebooting system to apply changes"
sudo shutdown -r
