#!/bin/bash

{{- if .dev }}
	sh -c "$(curl -sSL https://zshoham.github.io/static/linux-setup/dev.sh)"
{{- end }}
{{- if .gui }}
	sh -c "$(curl -sSL https://zshoham.github.io/static/linux-setup/basic-gui.sh)"
{{- end }}
{{- if (and .dev .gui) }}
	sh -c "$(curl -sSL https://zshoham.github.io/static/linux-setup/dev-gui.sh)"
{{- end }}
{{- if .writing }}
	sh -c "$(curl -sSL https://zshoham.github.io/static/linux-setup/writing.sh)"
{{- end }}
{{- if .media }}
	sh -c "$(curl -sSL https://zshoham.github.io/static/linux-setup/media.sh)"
{{- end }}
{{- if .gaming }}
	sh -c "$(curl -sSL https://zshoham.github.io/static/linux-setup/gaming.sh)"
{{- end }}		
