[user]
	email = {{ .email }} 
	name = {{ .git_handle }}
	
[core]
	editor = nvim
	pager = delta

[include]
  path = delta_theme.gitconfig

[delta]
  features = catppuccin-mocha

[alias]
  sdiff = -c delta.side-by-side=true diff
