layout {
   default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:$HOME/.config/zellij/plugins/zjstatus.wasm" {
                format_left   "{mode} {session}"
                format_center "{tabs}"

                mode_normal   "#[fg=#11111b,bg=blue,bold] {name} "
                mode_locked   "#[fg=#11111b,bg=red,bold] {name} "
                mode_pane     "#[fg=#11111b,bg=green,bold] {name} "
                mode_tab      "#[fg=#11111b,bg=green,bold] {name} "
                mode_resize   "#[fg=#11111b,bg=#fab387,bold] {name} "
                mode_scroll   "#[fg=#11111b,bg=#fab387,bold] {name} "
                mode_move     "#[fg=#11111b,bg=#fab387,bold] {name} "
                mode_session  "#[fg=#11111b,bg=#cba6f7,bold] {name} "

                tab_normal              "#[fg=#cdd6f4] {name} "
                tab_normal_fullscreen   "#[fg=#cdd6f4] {fullscreen_indicator}{name} "
                tab_normal_sync         "#[fg=#cdd6f4] {sync_indicator}{name} "

                tab_active              "#[fg=#a6e3a1,bold,italic] {floating_indicator}{name} "
                tab_active_fullscreen   "#[fg=#a6e3a1,bold,italic] {fullscreen_indicator}{name} "
                tab_active_sync         "#[fg=#a6e3a1,bold,italic] {sync_indicator}{name} "

                tab_sync_indicator       "⇌ "
                tab_fullscreen_indicator "⛶ "
                tab_floating_indicator   "⏏ "
            }
        }
    }
}
