pane_frames false

theme "catppuccin-mocha"

keybinds {
  shared_except "locked" {
      bind "Alt Enter" {
          LaunchOrFocusPlugin "file:~/.config/zellij/plugins/room.wasm" {
              floating true
              ignore_case true
              quick_jump true
          }
      }
  }
}
