[Desktop Entry]
Type=Application
Exec={{ .chezmoi.homeDir }}/.local/bin/startup
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Start Script
Name=Start Script
Comment[en_US]=
Comment=
