source $HOME/.config/exports

set fish_greeting

{{- if .dev }}
fnm env | source
status is-login; and pyenv init --path | source
status is-interactive; and pyenv init - | source
{{- end }}

starship init fish | source
