export EDITOR='micro'
export CARGO_HOME="$HOME/.local/share/cargo"
export RUSTUP_HOME="$HOME/.local/share/rustup"
export JABBA_HOME="$HOME/.local/share/jabba"

export PATH="$CARGO_HOME/bin:$PATH"
export PATH="$JABBA_HOME/bin:$PATH"
export PATH="$HOME/.local/bin:$PATH"

{{- if .dev }}
export JULIA_DEPOT_PATH="$HOME/.local/share/julia"
export GOPATH="$HOME/.local/share/golang"
export FNM_DIR="$HOME/.local/share/fnm"
{{- end }}


set fish_greeting

fnm env | source
starship init fish | source

# aliases

alias cat bat
alias ls exa
alias tree 'exa -T'
